body {
  background: url('blurbg.jpg');
  background-size: cover;
}
#leftdot{
position: relative;
margin: 0 0 0 35px;
width: 20px;
height: 20px;
background: url('dot.png');
border-radius: 100px;
display: inline-block;
float: left;
}
#middot{
position: relative;
margin: 0 0 0 -100px;
width: 20px;
height: 20px;
background: url('dot.png');
border-radius: 100px;
display: inline-block;
}
#rightdot{
position: relative;
margin: 0 35px 0 0;
width: 20px;
height: 20px;
background: url('dot.png');
border-radius: 100px;
display: inline-block;
float: right;
}
.falling{
animation: meteor 1s infinite,
                  glow 1500ms infinite;
}

@keyframes meteor {
    from {top:0px;}
    to {top:680px;}
}
@keyframes glow {
  0% { background-color: #b2b200; box-shadow: 0 0 10px #7f7f00; }
  50% { background-color: #cccc00; box-shadow: 0 0 10px #999900; }
  100% { background-color: #ffff00; box-shadow: 0 0 10px #e5e500; }
}
ul{
  color: white;
  word-spacing: 43px;
  position: absolute;
}
#ay {
  text-decoration: none;
  list-style-type: none;
  float: left;
  margin: 665px 0 0 0;
}
#es {
  text-decoration: none;
  list-style-type: none;
  margin: 641px 0 0 646px;
}
#de {
  text-decoration: none;
  list-style-type: none;
  float: right;
  margin: 665px -1342px 0 0;
}
