#indexbody{
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: 24pt;
  background-color: black;
}
#buildingsbody{
  background-color: powderblue;
  border: 3px solid blue;
  border-radius: 100px;
  color: blue;
}
#buildingbody{
  background-color: blue;
  border: 3px solid powderblue;
  color: powderblue;
}
#apartmentsbody{
  background-color: green;
  border: 3px solid pink;
  border-radius: 100px;
  color: pink;
}
#apartmentbody{
  background-color: pink;
  border: 3px solid green;
  color: green;
}
#tenantsbody{
  background-color: orange;
  border: 3px solid red;
  border-radius: 100px;
  color: red;
}
#tenantbody{
  background-color: red;
  border: 3px solid orange;
  color: orange;
}
#doormenbody{
  background-color: yellow;
  border: 3px solid gray;
  border-radius: 100px;
  color: gray;
}
#doormanbody{
  background-color: gray;
  border: 3px solid yellow;
  color: yellow;
}
