#buildingsbody{
  background-color: powderblue;

}
#buildingbody{
  background-color: blue;

}
#apartmentsbody{
  background-color: green;

}
#apartmentbody{
  background-color: pink;

}
#tenantsbody{
  background-color: orange;

}
#tenantbody{
  background-color: red;

}
#doormenbody{
  background-color: yellow;

}
#doormanbody{
  background-color: gray;

}
