<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body id = "apartmentbody">
 <ul>
 {{#OneApartmentData}}
 ID Number
 <li> {{id}} </li>
 <br>
 Floor
 <li> {{floor}} </li>
 <br>
 Name
 <li> {{name}} </li>
 <br>
 Price
 <li> {{price}} </li>
 <br>
 Square Feet
 <li> {{sqft}} </li>
 <br>
 Number of bedrooms
 <li> {{bedrooms}} </li>
 <br>
 Number of bathrooms
 <li> {{bathrooms}} </li>
 <br>
 Building ID
 <li> {{building_id}} </li>
 <br>
 {{/OneApartmentData}}
 </ul>
</body>
</html>
