#container{
/*  background: url('./emptytable.jpg') no-repeat;
  background-size: 50% 100%;
  background-position: center;
  height:40em;*/
}
#smallname{
  font-size: 18pt;
}
#largename{
  font-size: 24pt;
}
#servingsize{
/*  margin: 0 0 -2em -2em;*/
}
#calories{

}
#caloriesfromfat{

}
#totalfat{

}
#saturatedfat{

}
#transfat{

}
#cholesterol{

}
#sodium{

}
#totalcarbohydrate{

}
#dietaryfiber{

}
#sugars{

}
#protein{

}
#vitamina{

}
#calcium{

}
#vitaminc{

}
#iron{

}
