#container{
  background-color: white;
  background-size: 50% 100%;
  background-position: center;
  margin: 0 auto;
  height: 45em;
  width: 25em;
}
#smallname{
  font-size: 18pt;
}
#largename{
  font-size: 24pt;
}
#servingsize{
/*  margin: 2.5em 6em 0 0;*/
}
#calories{
/*  opacity: 0;*/
}
#caloriesfromfat{

}
#totalfat{

}
#saturatedfat{

}
#transfat{

}
#cholesterol{

}
#sodium{

}
#totalcarbohydrate{

}
#dietaryfiber{

}
#sugars{

}
#protein{

}
#vitamina{

}
#calcium{

}
#vitaminc{

}
#iron{

}
