<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="../stylesheets/styles.css">
</head>
<body>
{{#studentdata}}
<div class="student">
<img src="{{image}}">
<a href="/students/{{ id }}">{{ fname }} {{ lname }}</a>
<!-- <a href="/students/{{house_id}}">{{ fname }} {{ lname }}</a>
 -->
 {{#house}}
<div class = "student">
<h2><a href="/students/{{ id }}">{{fname}} {{lname}}</a></h2>
<img src={{image}}>
</div>
{{house_id}}
{{/house}}
 </div>
{{/studentdata}}
</body>
</html>
