body{
  background-color: lightgoldenrodyellow;
}

.App {
  text-align: center;
}

.App-header {
  background: url('portfoliobanner.jpg');
  background-size: cover;
  margin-top: 1em;
  padding: 6em;
  color: black;
  font-size: 2em;
}

.profileimage{
  float: left;
}
.aboutContent{
  float: right;
}
.portofoliopieces{
  display: inline-block;
  width: 100%;
}
.project1{
  width: 33%;
}
.project2{
  width: 33%;
}
.project3{
  width: 33%;
}
