<h1>The Great Hall of Cheeses</h1>
<div id='container'>
<ul>
<% cheese.each do |acheese| %>
  <%= all_cheese_data(acheese['name'], acheese['milk_type'], acheese['description'], acheese['image_url']) %><br>
  <a href='/cheeses/<%= cheese['id'] %>'>View details about <%= cheese['name'] %></a>
<% end %>
</ul>

<!-- <form action='/cheeses' method='POST'>
  <h2>Add a Cheese:</h2>
  <label>Name</label><br>
    <input name='first'><br>
  <label>milk_type:</label><br>
    <input name='last'><br>
  <label>description:</label><br>
    <input name='email'><br>
  <label>image_url:</label><br>
  <button>Submit</button>
</form> -->
</div>
