.App {
  text-align: center;
}
body{
  background-color: lightgoldenrodyellow;
}
h1{
  color: darkkhaki;
}
h3{
  color: khaki;
}
button{
  background-color: khaki;
  color: darkkhaki;
}
input{
  background-color: lightyellow;
}
