@import "https://fonts.googleapis.com/css?family=Raleway";
@mixin marginpadding{
  padding: 0;
  margin: 0;
}
@mixin marginpadding2{
  padding: 20px;
  margin: 0 auto;
}
@mixin marginpadding3{
  font-family: Raleway;
  font-size: 17.5px;
  text-align: centerl
}
body {
  background-color: #faebd7;
}

nav,
#about ul {
@include marginpadding;
}

nav ul {
  display: table;
  padding: 0;
  margin: 0 auto;
}

nav ul li {
  margin: 0;
  display: inline;
  padding: 5px;
}

nav ul li a {
@include marginpadding;
  font-family: Raleway;
  color: red;
}

nav ul li a:hover {
  color: green;
  cursor: pointer;
}

#home h1 {
@include marginpadding2;
  font-family: Raleway;
  text-align: center;
  color: blue;
  font-size: 70px;
}

#home h2,
#about h2,
#portfolio h2,
#contact h2 {
@include marginpadding2;
  text-align: center;
  color: blue;
  font-family: Raleway;
  font-size: 52.5px;
}

#main_image,
#portfolio,
#contact{
@include marginpadding;
  text-align: center;
}

#main_image img {
@include marginpadding;
  max-width: 400px;
}

#about p,
#contact p {
  text-align: center;
  color: blue;
  font-size: 17.5px;
  font-family: Raleway;
@include marginpadding2;
}

#about ul li {
  list-style-type: none;
  color: blue;
@include marginpadding3;
@include marginpadding2;
}

#portfolio img {
  max-width: 300px;
@include marginpadding;
}

