<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
  </title>
  <link rel="stylesheet" href="">
</head>
<body>
  {{#UserData}}
<form method="POST" action="/users/{{id}}?_method=PUT">
  <input name= "name" value="{{name}}"></input>
  <br>
  <input name= "email" value="{{email}}"></input>
  <br>
  <input name="password" value="{{password}}"></input>
  <br>
<button type="submit">PUT</button>
</form>
{{/UserData}}
</body>
</html>
